@keyframes slide-top {
  from {
      opacity: 0;
      top: -55%;
  }
  to {
      opacity: 1;
      top: 20%;
  }

}
#form-container {
  left: 40%;
  top: 20%;
  background-color: white;
  display: inline-block;
  padding: 1%;
  border: 2px solid black;
  border-radius: 10px;
  position: fixed;
  animation: slide-top;
  animation-duration: 1s;
}

#flex-container {
  display: flex;
  justify-content: center;
}

#closeButton {
  float: right;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

#submit-button {
  text-align: center;
  width: 15vw;
  padding: 3%;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: 1px solid black;
  box-shadow: 5px 5px 5px lightgrey;
  margin-left: 15%;

}
