<div class="info-box">
  <h1>About Us</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, iste.
    Voluptatem, laboriosam quos rerum corporis, fuga delectus non debitis nemo
    animi, provident pariatur quae iure. Nihil iste minima reprehenderit
    inventore, maxime eaque? Quae et repellendus fugiat? Iusto eum quo a commodi
    optio unde voluptas sunt expedita repellendus consequuntur vitae vel dolore
    alias laudantium, voluptatum ipsum nisi dolores iure autem quasi accusantium
    numquam dicta libero reprehenderit. Saepe ipsum odio, neque voluptates
    aliquid ipsam, ducimus, nobis repellat quibusdam id unde amet eum earum ad
    odit. Repudiandae culpa quaerat quasi ea, modi aut. Dolorum tenetur ratione,
    minus illum possimus aliquid eaque, sequi consectetur expedita nesciunt
    labore quas esse perferendis sapiente? Asperiores dolore minus earum placeat
    rerum distinctio, aliquid beatae quae omnis, fuga consectetur iusto
    voluptates error sequi eos. Sit eligendi porro illo ad veniam necessitatibus
    vel voluptatum praesentium, vitae eaque alias voluptates maiores blanditiis
    eum dolor molestias repudiandae illum odit odio autem natus.
  </p>
</div>
<div class="info-box">
  <h1>About Us</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, omnis
    repellendus nam pariatur praesentium atque adipisci quibusdam, esse eligendi
    velit dolorum, totam odio alias unde. Hic tempora eveniet dolore cum
    inventore doloribus similique ipsam placeat, sequi accusamus eius architecto
    mollitia accusantium illo quos excepturi laboriosam dolorum fugiat nam
    omnis. Vel ipsum eum accusantium nostrum, adipisci maxime deserunt esse rem
    vitae saepe aperiam ea officia sunt a aliquam? Rerum nobis esse, animi sunt
    at accusantium aliquid quod facilis sapiente harum quos dolore a repellat
    saepe ipsum laborum sed? Expedita optio deserunt ipsam, nemo minus maxime,
    facilis dolore aliquam voluptatem ipsum quis?
  </p>
</div>

<div id="social-media">
  <h1>Find us on:</h1>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-google"></a>
  <a href="#" class="fa fa-linkedin"></a>
  <a href="#" class="fa fa-youtube"></a>
  <a href="#" class="fa fa-instagram"></a>
</div>
