<div id="form-container">
  <form id="form" [formGroup]="filterForm" (input)="onSubmit()">
    <label for="name">Nazwa: </label>
    <input id="name" type="text" formControlName="name" />
    <hr>

    <label for="country">Kraj: </label>
    <input id="country" type="text" formControlName="country" />
    <hr>

    <label for="price-min">Minimalna cena: {{filterForm.value.priceMin}}</label>
    <input id="price-min" type="range" min="{{minPrice}}" max="{{maxPrice}}"  formControlName="priceMin" />


    <label for="price-max">Maksymalna cena: {{filterForm.value.priceMax}}</label>
    <input id="price-max" type="range" min="{{minPrice}}" max="{{maxPrice}}" formControlName="priceMax" />

    <hr>
    <label for="start-date">Początek: </label>
    <input id="start-date" type="date" formControlName="startDate" />
    <br> <br>

    <label for="end-date">Koniec: </label>
    <input id="end-date" type="date" formControlName="endDate" />

    <hr>


    <label for="rating-min">Minimalna ocena: {{filterForm.value.ratingMin}}</label>
    <input id="rating-min" type="range"  min="1" max="5" value="1" formControlName="ratingMin" />


    <label for="rating-max">Maksymalna ocena: {{filterForm.value.ratingMax}}</label>
    <input id="rating-max" type="range" min="1" max="5" formControlName="ratingMax" />

  </form>
</div>
