body {
    padding: 0px;
    margin: 0px;
}
#counter {
    float: right;
    position: relative;
    padding: 5px;
    color: #62b9b5;
    border: 1px solid #62b9b5;
    border-radius: 30px;
}
#box {
    position: absolute;
    width: 500px;
    height: 100vh;
    margin: 0px 100px 10px 10px;
    display: flex;
    flex-direction: column;
    transition: width 0.4s;
    border-right: 10px solid lightgray;
}

.icon:hover {
    background-color: #62b9b5;
    color: white;
    border-color: white;
}
.icon:hover .material-symbols-outlined {
    color: white;
    border-color: white;
}
.icon:hover #counter {
    color: white;
    border-color: white;
}

.text {
    position: absolute;
    padding: 20px;
}

.icon {
    width: 80%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    padding-left: 5px;
    font-size: 30px;
    color: rgb(69, 86, 123);
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    font-size: 30px !important;
    color: rgb(69, 86, 123);
    border-radius: 25px;
    border: 2px solid rgb(69, 86, 123);
    padding: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
}
@media screen and (max-width: 768px) {
    #box {
        width: 158px;
    }
    .text {
        width: 0;
        opacity: 0;
        font-size: 0px;
    }
}
