#cart-container {
  margin-top: -2.5vh;
  margin-right: 1vw;
  width: 15vw;
}

#cart {
  text-align: center;
  padding: 1%;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgrey;
}

#cart-info {
  padding: 1%;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgrey;
}


