<div id="flex">
  <div id="box">
    <form #loginForm="ngForm">
      <div class="main">
        <div class="input-fields">
          <input
            name="email"
            ngModel
            placeholder="Email"
            id="email"
            type="email"
            class="input-field"
          />
        </div>
        <div class="input-fields">
          <input
            name="password"
            ngModel
            placeholder="Password"
            id="password"
            type="password"
            class="input-field"
          />
        </div>
        <button id="btn" (click)="singIn(loginForm.value)">Zaloguj się</button>
      </div>
    </form>

  </div>
</div>

