
<div id="about-us">
  <h3>O nas</h3>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit accusantium
  quis et quod voluptate inventore? Veritatis totam incidunt delectus accusamus
  officia omnis repudiandae maxime voluptatem amet eum praesentium iste velit
  est quia perferendis commodi nisi tempore optio cum ullam dolorem
  reprehenderit voluptatibus, placeat dignissimos! Voluptate excepturi nostrum a
  ipsa et!
</div>
<div id="loc">
  <h3 >Lokalizacja</h3>
  <iframe
    id="map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.974255577953!2d19.9104095157176!3d50.06804377942448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e83edb79%3A0x12ec23c8f9c73c78!2sCentrum%20Informatyki%2C%20AGH%2C%20D-17!5e0!3m2!1sen!2spl!4v1669818019120!5m2!1sen!2spl"
    width="400"
    height="350"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
<div id="mision">
  <h3>Nasza misja</h3>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod deserunt ex
  perferendis, est natus neque et hic culpa, corporis earum amet deleniti itaque
  ullam illum laboriosam fuga fugit. Dignissimos, ad!
</div>

<div id="contact">
  <h3>Kontakt</h3>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae expedita
  eos voluptatem ducimus distinctio tenetur assumenda dolor reiciendis eaque id
  ipsa itaque, doloribus commodi magnam quasi velit nulla similique totam.
</div>
