#result {
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 88vw;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgrey;
}
