.record {
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
  color: white;
  border-radius: 10px;
  margin-top: 1%;
  margin-right: 1vw;
  padding: 1%;
  width: 25vw;
  height: 50vh;
  text-align: center;
  box-shadow: 5px 5px 5px lightgrey;
  box-shadow: 5px 5px 5px lightgrey;
}

#flex-box {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  width: 88vw;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  overflow: scroll;
  border-radius: 10px;
  margin-top: 1%;
  height: 77vh;
  box-shadow: 5px 5px 5px lightgrey;
}
#filter {
  color: white;
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
  border-radius: 10px;
  margin-left: 1%;
  margin-top: 1%;
  padding: 1%;
  width: 10vw;
  height: 10vh;
  box-shadow: 5px 5px 5px lightgrey;
}
#box {
  display: flex;
}

hr {
  color: white;
}
